*{
    margin: 0;
    padding: 0;
}

.nm{
   background-color: #242582; 
}
body {
    padding: 0px 0px 0px 0px;
    z-index: 0; 
    background-color: #242582;
}

.container{
    color: #C3073F;
}
.navbar-brand.mb-0.h1{
    color: #f64c72;
}
.collapse.navbar-collapse{
    position: absolute;
    left: 80vw;
}
.hello{
    font-style: italic;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.glow {
    color: #ffffff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                   0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }
    to {
      text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
                   0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }